<div>
  <table class="table table-striped table-hover">
    <thead class="thead thead-dark">
    <tr>
      <th>
       Coin
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let coin of coins">
      <td>
        {{coin.id}}
      </td>
      <td>
        {{coin.logo}}
      </td>
      <td>
        {{coin.name}}
      </td>
      <td>
        {{coin.tradingPair}}
      </td>
      <td>
        {{coin.exchange}}
      </td>
      <td>
        {{coin.purchaseDate}}
      </td>
      <td>
        {{coin.purchaseTime}}
      </td>
      <td>
        {{coin.buyPrice}}
      </td>
      <td>
        {{coin.amountPurchased}}
      </td>
      <td>
        {{coin.exchangeFee}}
      </td>
      <td>
        {{coin.notes}}
      </td>
    </tr>
  </tbody>
  </table>
  </div>
