<h1>bitfolio account</h1>
<div *ngIf="!acct">
  <table class="table table-striped table-hover">
    <thead class="thead thead-dark">
  <tr>
    <th>
      Account
    </th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let account of accounts" (click)="acct = account">
    <td>
      {{account.id}}
    </td>
    <td>
      {{account.email}}
    </td>
    <td>
      {{account.username}}
    </td>
    <td>
      {{account.user.firstName}}
    </td>
    <td>
      {{account.user.lastName}}
    </td>
  </tr>
</tbody>
</table>
</div>

<div *ngIf="acct">
  {{acct.email}}
</div>
<div (click)="acct && !editAccount" *ngIf="acct">
  {{ acct.id }}
  {{ acct.username }}
  {{ acct.email }}
  <button class="btn btn-warning" (click)="editAccount = acct">Edit</button>
  <button class="btn btn-primary" (click)="disableTable()">Back</button>
  <button class="btn btn-danger" (click)="deleteAccount(acct.id)" (click)="disableTable()">Delete Account</button>

</div>


<div *ngIf="editAccount">
<h2>{{editAccount.id}}</h2>
<form class="form-group">
  <label for="email">Email: </label>
  <input class="form-control" type="text" name="email" [(ngModel)]="editAccount.email"><br>
  <label for="password">Password: </label>
  <input class="form-control" type="text" name="password" [(ngModel)]="editAccount.password"><br>
  <button class="btn btn-success" (click)="updateAccount(editAccount)">Save</button>
  <button class="btn btn-primary" (click)="editAccount = null">Cancel</button>
</form>
</div>
